---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/oauth
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <OAUTH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Updated-Since-Request-Synced-At:
      - 2017-05-19 15:40:00 UTC
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1495209600'
      X-Ratelimit-Remaining:
      - '999'
      Link:
      - <https://www.bookingsync.com/api/v3/oauth?page=1>; rel="first"
      X-Per-Page:
      - '100'
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"73fbd6405e504baa87192e76fe8bbc41"
    body:
      encoding: UTF-8
      string: '{"oauth":{"account_id":1,"scopes":["public","bookings_read","rentals_read","rates_read"]},"meta":{"Link":{"first":"https://www.bookingsync.com/api/v3/oauth?page=1"},"X-Total-Pages":null,"X-Total-Count":null,"X-Per-Page":"100"}}'
  recorded_at: Fri, 19 May 2017 15:40:01 GMT
recorded_with: VCR 3.0.3
