---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/auth
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <OAUTH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Updated-Since-Request-Synced-At:
      - 2017-05-23 12:12:22 UTC
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1495544400'
      X-Ratelimit-Remaining:
      - '999'
      Link:
      - <https://www.bookingsync.com/api/v3/auth?page=1>; rel="first"
      X-Per-Page:
      - '100'
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"7ae87eb27b98a903a7cd84e261596313"
    body:
      encoding: UTF-8
      string: '{"auth":{"account_id":1,"scopes":["public","rentals_read","bookings_write_owned","clients_write","payments_write_owned"]},"meta":{"Link":{"first":"https://www.bookingsync.com/api/v3/auth?page=1"},"X-Total-Pages":null,"X-Total-Count":null,"X-Per-Page":"100"}}'
  recorded_at: Tue, 23 May 2017 12:12:23 GMT
recorded_with: VCR 3.0.3
